@font-face {
    font-family: 'you' ;
    src: url('fonts/Grow\ and\ Glow.ttf') format('truetype');
}
@font-face{
font-family: 'rou' ;
src: url('fonts/American\ Jets\ -\ Personal\ Used.otf') format('opentype');
}
/* --------- GERAL --------- */
body {
  max-width: 100%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}
  
p {
  text-align: center;
  color: #000;
  margin-bottom: 40px;
  font-size: 2.0rem;
  font-family: sans-serif;
}
  
header {
  background-image: repeating-linear-gradient(to bottom, rgb(119, 0, 255), rgb(42, 3, 46));
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
  
.home, .cu, .fale {
  text-decoration: none;
  background: #fff;
  color: #000;
  padding: 10px 20px;
  border-radius: 7px;
  margin: 5px;
  display: inline-block;
  font-size: 18px;
}
  
.home:hover,
.cu:hover,
.fale:hover {
  background-color: rgb(153, 0, 255);
  color: white;
  transition: 0.4s;
}
  
  /* --------- MAIN --------- */
main {
  background-color:  #ccc;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 3px 4px 30px black;
  width: 100%;
  max-width: 1800px;
  margin: 20px auto;
  box-sizing: border-box;
}

.conteudo2{
  background-color: #ffffff;
  max-width: 1200px;
  margin-bottom: 100px;
  margin-top: -80px;
}

.conteudo1{
  background-color: #ffffff;
  max-width: 1200px;
  margin-bottom: 100px;
  margin-top: 70px;
}

.be{
  text-align: center;
}
  
h2 {
  text-align: center;
  margin-top: 40px;
  color: #313131;
  font-family: 'rou';
  font-size: 55px;
}

.vi{
  text-align: center;
  margin-top: -50px;
}
  
.le {
  line-height: 1.7;
}
  
  /* --------- IMAGENS E MONITORES --------- */
.logo {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto 20px auto;
}
  
.imgg {
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  margin: 0 auto 30px auto;
}
  
.monitor, .monitor2, .monitor3 {
  border-radius: 6%;
  width: 100%;
  max-width: 462px;
  margin: 10px auto;
  display: inline;
  margin-left: 40px;
  margin-top: 70px;
  transform: translate(7px, 10px);
}

.monitor44 {
  text-align: center;
}
  
.monitor:hover, .monitor2:hover, .monitor3:hover {
  box-shadow: 3px 6px 70px rgb(153, 0, 255);
  transition: 0.7s;
  transform: translate(7px, 3px);
}
  
  /* --------- VIDEO --------- */
.video {
  background-color: #5e6161;
  padding: 10px;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  margin: 20px auto;
  box-sizing: border-box;
}
  
iframe {
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 1px 5px 50px #000;
}
  
  /* --------- MARCAÇÃO --------- */
mark {
  background-color: rgb(153, 0, 255);
  border-radius: 2px;
  border: solid rgb(76, 9, 85);
  padding: 0 10px;
  color: white;
}
  
  /* --------- FOOTER --------- */
footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 15px;
  margin-top: 30px;
}

span{
  color: #6c03b363;
}
  
  /* --------- RESPONSIVIDADE --------- */
@media (max-width: 768px) {
  .home, .cu, .fale {
    display:block;
    margin: 10px auto;
    width: 50%;
    text-align: center;
  }

  p {
    font-size: 1.1em;
  }
  
  h2 {
    font-size: 1.5rem;
    text-align: center;
    font-size: 35px;
  }

  .letra {
    margin-top: 35px;
  }
  
  main {
    padding: 15px;
    margin: 1px;
  }
  
  .monitor, .monitor2, .monitor3 {
    max-width: 100%;
    display: block;
    margin-left: 0px;
    transform: translate(0px,0px);
  }
  
  iframe {
    height: 220px;
  }
}
  