main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(imagem/fundo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom, bottom;

}

* {
    margin: 0px;
    padding: 0px;
}

.logo {
    width: 240px;
}

#fundo-img {
    
    background-color: aqua;
    width: 300px;
    text-align: center;
    align-content: center;
    height: 200px;
    background-image: url(imagem/pamonha.avif);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
}

#formulario {
    background-color: white;
    width: 300px;
    height: 400px;
    align-content: center;
    justify-items: center;
    border-radius: 0px 0px 20px 20px;
}

h2 {
    text-align: center;
    margin-top: -70px;
    font-size:35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;

}

div > label > input[type=email] {
    margin-top: 30px;
    margin-bottom: 20px;
    height: 35px;
    width: 200px;
    text-align: center;
    border: none;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    margin-left: 10px;
} 

div > label > input[type=password] {

    height: 35px;
    width: 200px;
    text-align: center;
    border: none;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    margin-left: 4px;
}

#começar {
    text-align: center;
}

input[type=submit] {

    border: none;
    background-color: rgb(91, 35, 143);
    color: white;
    padding: 5%;
    width: 120px;
    margin-top: 30px;
    border-radius: 17px;
    font-size: 17px;
    margin-bottom: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

i {
    margin-left: -20px;
}


/*-----AJUDA-----*/

#opecoes {
    margin-bottom: -60px;
    text-align: center;
    margin-left: -20px;
    font-size: 14px;
}

#cartao {
    color: rgb(0, 0, 0);
}

#mao {
    color:rgb(0, 0, 0);
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

div#opecoes > i {
    margin-left: 30px;
}

a:hover {
    color: rgb(136, 27, 204);
}