@media (max-width:600px) {
    
    section > form {
    background-color: white;
    font-size: 5px;
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    width:300px;
    margin-left: -300px;
    height: 400px;
    margin-top: 180px;
}

div > img {
width: 280px;
margin-top: 30px;
margin-left: 10px;
}

main {
    display: flex;
    background-color: rgb(136, 22, 146);
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

h2{
    font-size: 35px;
}

p{
    font-size: 15px;
}

div#imagem2{
 
    background-image: url(imagem/pamonha.avif);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    width: 300px;
}
#email, #senha {
    margin-bottom: 30px;
    font-size: 17px;
}
#fundo-formulario {
    background-color: rgba(255, 0, 0, 0);
    margin-left: 106px;
}
}