@media (min-width:768px) {
    
    section > #fundo-img{
        float: left;
        width: 350px;
        height: 400px;
        border-radius:20px 0px 0px 20px ;
    }

    section.login > #fundo-img > img.logo{
    width: 330px; 
}

    section > div#formulario {
        float: right;
        width: 400px;
        border-radius: 0px 20px 20px 0px;
    }

}         